body,
.root,
.appContainer {
  width: 1535px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  color: #2565ae;
  background-color: white;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Alfa Slab One", serif;
  font-size: 32px;
  font-weight: 800;
  color: white;
  background-color: #2565ae;
  letter-spacing: 0.2rem;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  margin: 3px;
}

.displayContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.picture {
  width: 95%;
  height: 160px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bodyContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.spinloader {
  width: 48px;
  height: 48px;
  border: 5px solid #3c99dc;
  border-bottom-color: #2565ae;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.titleBox {
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: red;
  border-left: 3px solid #2565ae;
  border-bottom: 3px solid #2565ae;
  border-bottom-left-radius: 6px;
  margin-bottom: 10px;
  padding: 3px;
  font-size: 20px;
  font-weight: 600;
}

.fullLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 3px;
}

.fullBox {
  width: 100%;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
  background-color: #F6F4F3;
}

.choiceBox, .choiceBoxPopup {
  width: 15%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  border: 1px solid #2565ae;
  border-radius: 8px;
  padding: 10px;
}

.choiceBoxPopup {
  width: 90%;
}

.smallFlag {
  width: 20%;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bigFlag {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.trackPicture {
  width: 95%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 16/9;
}

.redBox {
  width: 98%;
  background-color: #FF99CC;
  color: white;
  text-align: center;
  margin: 3px;
}

.pictureBar {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #2565ae;
  padding: 3px;
}
.pictureBar span {
  cursor: pointer;
}

.messageContainer {
  position: fixed;
  top: 10vh;
  left: 75vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px double red;
  color: red;
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}

.normalIcon {
  width: 10%;
  text-align: center;
  cursor: pointer;
  line-height: 16px;
  padding: 4px;
}
.normalIcon:hover {
  color: white;
  background-color: #2565ae;
}

.pictureButton {
  width: 16px;
  position: relative;
}
.pictureButton_file {
  width: 16px;
  opacity: 5%;
  z-index: 1;
  position: absolute;
}

.button {
  background-color: #2565ae;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.buttonInverse {
  background-color: white;
  color: #2565ae;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.commentButton {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #2565ae;
  border-radius: 10px;
  cursor: pointer;
}

.smallIcon {
  margin: 5px;
  cursor: pointer;
}

.likeBox {
  width: 49px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.likeBox_valeur {
  font-size: 12px;
}

.headerContainer {
  width: 100%;
  height: 100px;
  background-color: #2565ae;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border: 1px solid #66d3fa;
}
.headerContainer_title {
  width: 60%;
  text-align: center;
}
.headerContainer_user {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.headerContainer_user--button {
  width: 30%;
  border: 3px solid #66d3fa;
  color: yellow;
  padding: 3px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
.headerContainer_user--button:hover {
  background-color: #66d3fa;
  border: 3px solid #2565ae;
}
.headerContainer_user img {
  width: 17%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  margin: 5px;
  border-radius: 30%;
}

.loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px;
}
.loginContainer_box {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.loginContainer_box label {
  width: 40%;
  text-align: right;
  margin-right: 3px;
}
.loginContainer_box input {
  width: 60%;
  text-align: center;
}

.userBar {
  width: 10%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navigationBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #66d3fa;
  margin: 5px;
}
.navigationBar_button {
  width: 10%;
  text-align: center;
  cursor: pointer;
}
.navigationBar_button:hover {
  color: white;
  background-color: #2565ae;
}

.smallCard {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border: 2px solid #2565ae;
  border-radius: 5px;
}
.smallCard img {
  width: 95%;
  height: 15em;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 3px;
}

.logoTeam {
  width: 12%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.logoTeam img {
  width: 98%;
  -o-object-fit: contain;
     object-fit: contain;
}

.adminContainer {
  width: 98%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.adminContainer_card {
  width: 25%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #66d3fa;
  margin: 10px;
}

.labelBox, .optionBox {
  width: 98%;
  text-align: center;
  color: #2565ae;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

.modelSheetTitleBox {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 6px double #3c99dc;
  border-radius: 12px;
  margin: 10px;
  padding: 3px;
}
.modelSheetTitleBox h2 {
  width: 50%;
  text-align: center;
}
.modelSheetTitleBox img {
  width: 15%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modelSheetContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.modelSheetCard, .modelSheetSmallCard {
  width: 20%;
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid #2565ae;
  border-radius: 5px;
}

.modelSheetSmallCard {
  height: 150px;
  margin-top: 10px;
}
.modelSheetSmallCard h3 {
  margin: 10px;
}

.popupPicture {
  width: 350px;
  height: 385px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 4px ridge red;
  position: fixed;
  top: 10vh;
  left: 125vh;
}

.popupSignup {
  width: 350px;
  height: 510px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2565ae;
  background-color: white;
  border: 4px ridge #2565ae;
  position: fixed;
  top: 10vh;
  left: 75vh;
}
.popupSignup label {
  width: 40%;
}
.popupSignup input {
  width: 60%;
  text-align: center;
}

.postBloc {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postContainer {
  width: 95%;
  height: 115px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #2565ae;
  border-radius: 10px;
  margin: 5px;
  background-color: #e1f7fe;
}
.postContainer_info {
  width: 27%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5px;
  border-right: 1px solid #2565ae;
}
.postContainer_texte {
  width: 50%;
  height: 100%;
  padding: 3px;
  border-right: 1px solid #2565ae;
}
.postContainer_resume {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}
.postContainer textarea {
  width: 40%;
  border: none;
  color: #2565ae;
  background-color: #c9effd;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}
.postContainer_image {
  width: 20%;
}
.postContainer_image img {
  width: 95%;
  max-height: 100px;
  margin: 3px;
  -o-object-fit: contain;
     object-fit: contain;
}

.postBar {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.postMessageBar {
  width: 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #2565ae;
}/*# sourceMappingURL=styles.css.map */