.normalIcon {
  width: 10%;
  text-align: center;
  cursor: pointer;
  line-height: $textStd;
  padding: 4px;

  &:hover {
    color: $colorBack;
    background-color: $colorFirst;
  }
}

.pictureButton {
  width: $textStd;
  position: relative;
  
  &_file {
    width: $textStd;
    opacity: 5%;
z-index: 1;
position: absolute;
  }
}

.button {
  background-color: $colorFirst;
  color: $colorBack;
  padding: $marginMedium;
  border-radius: 5px;
  margin: $marginMedium;
  cursor: pointer;
}

.buttonInverse {
  background-color: $colorBack;
  color: $colorFirst;
  padding: $marginMedium;
  border-radius: 5px;
  margin: $marginMedium;
  cursor: pointer;
}