.titleBox {
  width: 97%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: $colorFourth;
  border-left: 3px solid $colorFirst;
  border-bottom: 3px solid $colorFirst;
  border-bottom-left-radius: 6px;
  margin-bottom: $marginLarge;
  padding: $marginSmall;
  font-size: $textLarge;
  font-weight: 600;
}

.fullLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: $marginSmall;
}

.fullBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: $marginSmall;
  border-top: 1px solid $colorFourth;
  background-color: #F6F4F3;
}

.choiceBox {
  width: 15%;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  border: 1px solid $colorFirst;
  border-radius: 8px;
  padding: $marginLarge;
}

.smallFlag {
  height: $textLarge;
  object-fit: cover;
}

.bigFlag {
  height: 100px;
  object-fit: cover;
}

.trackPicture {
  width: 95%;
  object-fit: cover;
}

.redBox {
  width: 98%;
  background-color: #FF99CC;
  color: white;
  text-align: center;
  margin: $marginSmall;
}

.pictureBar {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid $colorFirst;
  padding: $marginSmall;

  span {
    cursor: pointer;
  }
}