.smallCard {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $textSmall;
  border:2px solid $colorFirst;
  border-radius: 5px;

  img {
    width: 95%;
    height: 15em;
    object-fit: contain;
    margin: $marginSmall;
  }
}

.logoTeam {
  width: 12%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    width: 98%;
    object-fit: contain;
  }
}